<div [style.backgroundColor]="'var(--mainColor)'" class="home d-flex justify-content-center align-items-center flex-column h-100 text-white">
  <img [style]="'width:250px;'" src="./assets/avataaars.svg" class="mb-5" alt="avataaars">
  <h2 class="text-uppercase fs-1 fw-bolder m-0">start framework</h2>
  <div class="d-flex align-items-center justify-content-center my-1">
    <div [style]="'height:4px;width:80px;'" class="me-3 my-3 bg-white"></div>
    <i _ngcontent-ihy-c6="" class="fa-solid fa-star"></i>
    <div [style]="'height:4px;width:80px;'" class="bg-white ms-3 my-3 "></div>
  </div>
  <p class=" m-0">Graphic Artist - Web Designer - Illustrator</p>
</div>